
.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none
}

.board.active .hex .hex-in .hex-link {
    background: #183f54
}

.board .hex {
    display: inline-block;
    text-align: left;
    position: relative;
    width: 72px;
    height: 42px;
    margin: 20px 5px;
    background-color: #102531;
    background-size: auto 80px;
    background-position: 50%;
    border-left: 3px solid #17313a;
    border-right: 3px solid #17313a;
    cursor: pointer
}

.board .hex.c1 {
    border-right-color: #213042;
    border-left-color: #213042
}

.board .hex.c1 .hex-top {
    border-top-color: #213042;
    border-right-color: #213042
}

.board .hex.c1 .hex-bottom {
    border-bottom-color: #213042;
    border-left-color: #213042
}

.board .hex.c2 {
    border-right-color: #156831;
    border-left-color: #156831
}

.board .hex.c2 .hex-top {
    border-top-color: #156831;
    border-right-color: #156831
}

.board .hex.c2 .hex-bottom {
    border-bottom-color: #156831;
    border-left-color: #156831
}

.board .hex.c3 {
    border-right-color: #12407c;
    border-left-color: #12407c
}

.board .hex.c3 .hex-top {
    border-top-color: #12407c;
    border-right-color: #12407c
}

.board .hex.c3 .hex-bottom {
    border-bottom-color: #12407c;
    border-left-color: #12407c
}

.board .hex.c4 {
    border-right-color: #893088;
    border-left-color: #893088
}

.board .hex.c4 .hex-top {
    border-top-color: #893088;
    border-right-color: #893088
}

.board .hex.c4 .hex-bottom {
    border-bottom-color: #893088;
    border-left-color: #893088
}

.board .hex.c5 {
    border-right-color: #b89d27;
    border-left-color: #b89d27
}

.board .hex.c5 .hex-top {
    border-top-color: #b89d27;
    border-right-color: #b89d27
}

.board .hex.c5 .hex-bottom {
    border-bottom-color: #b89d27;
    border-left-color: #b89d27
}

.board .hex.c6 {
    border-right-color: #12407c;
    border-left-color: #12407c
}

.board .hex.c6 .hex-top {
    border-top-color: #12407c;
    border-right-color: #12407c
}

.board .hex.c6 .hex-bottom {
    border-bottom-color: #12407c;
    border-left-color: #12407c
}

.board .hex.c7 {
    border-right-color: #893088;
    border-left-color: #893088
}

.board .hex.c7 .hex-top {
    border-top-color: #893088;
    border-right-color: #893088
}

.board .hex.c7 .hex-bottom {
    border-bottom-color: #893088;
    border-left-color: #893088
}

.board .hex.c8 {
    border-right-color: #b89d27;
    border-left-color: #b89d27
}

.board .hex.c8 .hex-top {
    border-top-color: #b89d27;
    border-right-color: #b89d27
}

.board .hex.c8 .hex-bottom {
    border-bottom-color: #b89d27;
    border-left-color: #b89d27
}

.board .hex.filled:hover .character-level {
    opacity: 1
}

.board .hex.active .hex-in .hex-link {
    background: #227aad
}

.board .hex:after {
    content: "";
    display: block;
    padding-bottom: 90%
}

.board .hex .hex-bottom, .board .hex .hex-top {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    transform: scaleY(.5774) rotate(-45deg);
    background: inherit;
    width: 50px;
    height: 50px;
    left: 8px
}

.board .hex .hex-bottom:after, .board .hex .hex-top:after {
    content: "";
    position: absolute;
    transform-origin: 0 0;
    background: inherit;
    width: 64.5px;
    height: 41px;
    transform: rotate(45deg) scaleY(1.7) translateY(-20.5px)
}

.board .hex .hex-top {
    top: -25px;
    border-top: 4px solid #17313a;
    border-right: 4px solid #17313a
}

.board .hex .hex-top:after {
    background-position: top
}

.board .hex .hex-bottom {
    bottom: -25px;
    border-bottom: 4px solid #17313a;
    border-left: 4px solid #17313a
}

.board .hex .hex-bottom:after {
    background-position: bottom
}

.board .hex .character-level {
    opacity: 0;
    color: #6497af;
    position: absolute;
    top: -25px;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    letter-spacing: -3px;
    margin-left: -1px;
    text-shadow: 0 2px 5px #000, 0 2px 5px #000;
    z-index: 10
}

.board .hex .character-level.active {
    opacity: 1;
    color: #e4c157
}

.board .hex .characters-item {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    z-index: 5
}

.board .hex .characters-item .character-wrapper {
    margin: 0
}

.board .hex .characters-item .character-wrapper .character-icon {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    opacity: 0
}

.board .hex .character-items {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10
}

.board .hex .character-items .characters-item {
    position: static;
    width: auto;
    padding: 0;
    justify-items: flex-start;
    transform: none
}

.board .hex .character-items .characters-item .character-wrapper {
    padding: 0;
    margin: 0
}

.board .hex .character-items .characters-item .character-wrapper .character-icon {
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    border-color: #17313a;
    opacity: 1
}

.board .hex .hex-in {
    width: 80%;
    padding-bottom: 93.923%;
    margin: 0 2%;
    visibility: hidden;
    transform: rotate(-60deg) skewY(30deg)
}

.board .hex .hex-in, .board .hex .hex-in .hex-link {
    position: absolute;
    overflow: hidden;
    outline: 1px solid transparent
}

.board .hex .hex-in .hex-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background: #123040;
    visibility: visible;
    transform: skewY(-30deg) rotate(60deg)
}

.board .hex .hex-in .hex-link .characters-item {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -13px;
    width: 110%;
    height: 110%;
    margin: 0 auto;
    justify-items: flex-start
}

.board .hex .hex-in .hex-link .characters-item .character-wrapper .character-icon {
    width: 84px;
    height: 84px;
    min-width: 84px;
    min-height: 84px
}

.board.four-row .hex:nth-child(14n+8) {
    margin-left: 12%
}

@media (max-width: 1259.98px) {
    .builder .board-full .drag-zone {
        margin-top: 50px
    }

    .board {
        width: 440px
    }

    .board .hex {
        width: 44px;
        height: 26px;
        margin: 12px 5px;
        background-size: auto 46px
    }

    .board .hex .hex-bottom, .board .hex .hex-top {
        width: 30px;
        height: 30px;
        left: 4px
    }

    .board .hex .hex-bottom:after, .board .hex .hex-top:after {
        width: 37px;
        height: 22px;
        transform: rotate(45deg) scaleY(1.7) translateY(-11px)
    }

    .board .hex .hex-top {
        top: -15px
    }

    .board .hex .hex-bottom {
        bottom: -15px
    }

    .board .hex .characters-item {
        top: -12px
    }

    .board .hex .characters-item .character-wrapper .character-icon {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px
    }

    .board .hex .character-level {
        top: -18px;
        font-size: 14px
    }

    .board .hex .character-items .characters-item .character-wrapper .character-icon {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px
    }
}

@media (max-width: 767.98px) {
    .builder .board-full .drag-zone {
        margin-left: 0;
        margin-top: 30px
    }
}

@media (max-width: 575.98px) {
    .builder .board-full .builder-bonus.builder-board {
        padding: 0
    }

    .board {
        width: 100%
    }

    .board .hex {
        width: 34px;
        height: 20px;
        margin: 10px 5px
    }

    .board .hex .hex-bottom, .board .hex .hex-top {
        width: 24px;
        height: 24px;
        left: 2px
    }

    .board .hex .hex-top {
        top: -12px
    }

    .board .hex .hex-bottom {
        bottom: -12px
    }

    .builder .board-full .drag-zone .characters-list.champions .characters-item {
        width: 12.5%
    }

    .builder .board-full .drag-zone .characters-list.items .characters-item {
        width: 10%
    }
}

.tierlist.teams .tier-group .characters-list .team-portrait .team-positioning #hexGrid.four-row .hex:nth-child(14n+8), .tierlist.teams .tier-group .characters-list .team-portrait .team-positioning #hexGrid.three-row .hex:nth-child(14n+1) {
    margin-left: 6%
}

.board.four-row .hex:nth-child(14n+8) {
    margin-left: 12%
}
