.swal2-popup.swal2-toast.swal2-icon-error {
    background-color: #dc3545;
}

.swal2-popup.swal2-toast.swal2-icon-success {
    background-color: #198754 !important;
}

.swal2-title {
    color: white
}

.swal2-icon.swal2-error.swal2-icon-show .swal2-x-mark-line-left,
.swal2-icon.swal2-error.swal2-icon-show .swal2-x-mark-line-right,
.swal2-success-line-tip,
.swal2-success-line-long,
.swal2-icon.swal2-error.swal2-icon-show .right {
    background-color: white !important;
}

.swal2-icon.swal2-error.swal2-icon-show,
.swal2-icon.swal2-success.swal2-icon-show {
    border-color: white;
    color: white;
}

.swal2-success-ring {
    border-color: white !important;
}

.swal2-timer-progress-bar {
    background: rgba(255, 255, 255, 0.75);
}

