.champion-portrait > img {
    width: 100%;
    border-radius: 4%;
    border: solid 2px black;
}

.flex-container .champion-portrait {
    width: 7%;
    display: inline-block;
    margin: 5px;
    margin-bottom: 20px;
}

@media (max-width: 575.98px) {
    .flex-container .champion-portrait {
        width: 17.1%;
    }
}

@media (max-width: 767.98px) {
    .flex-container .champion-portrait {
        width: 20%;
    }
}

@media (max-width: 1259.98px) {
    .flex-container .champion-portrait {
        width: 12.4%;
    }
}